<!DOCTYPE html>
<html>
<head>
  <title>MovieReview</title>
  <%= csrf_meta_tags %>

  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  <!-- <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script> -->
  <%= javascript_include_tag "https://cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js" %>
</head>
<body>
  <%= render 'layouts/header' %>
  <div class="container">
    <% flash.each do |name, msg| %>
    <%= content_tag(:div, msg, class: "alert alert-info") %>
    <% end %>
    <%= yield %>
  </div>
  <script type="text/javascript">

  $('#search-btn').on('click', function(){
    var query = $('.search-input').val();

  $.get( "https://api.themoviedb.org/3/search/movie?api_key=d5f82a60e2d9814013db19f7fc43586f&query="+query, function() {
      })
      .done(function(data) {
      for (var i = 0; i < data.results.length; i++) {
        console.log(data.results[i].title)
      }
      })
  });
  </script>

  <!-- <script async defer src=""></script> -->
</body>
</html>
